
.root {
  background-color: #222;
  padding: 20px;
  color: white;
}
.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.navigation {
  [data-react-toolbox="link"] {
    color: white;
  }
}
